/* All Common Css Start */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0,8;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 1320px;
    margin: 0 auto;
}

/* All Ccommon Css End */

/* Head and Banner Css Start */

.bgImg{
    background-image: url(../Images/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.headerPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px;
   
}
.headBtn{
    padding: 15px 30px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: .6s;
}
.headBtn:hover{
    color: black;
    background-color: darkorange;
}
.bannerInfo{
   padding: 240px 0px;
}
.bannerText{
    margin: 0 auto;
    width: 900px;
    text-align: center;
}
.bannerText h1 {
    font-size: 65px;
    font-weight: bold;
    line-height: 75px;
}
.bannerBtn{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
}
.bannerBtn a{
    padding: 15px 35px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: .6s;
}
.bannerBtn a:hover{
    color: black;
    background-color: darkorange;
}

/* Head and Banner Css End */

/* Action Part Css Start */

.actionPart{
    padding: 150px 0px;
}
.actionFlex{
    display: flex;
    justify-content: space-between;
}
.actionpartRight img {
    height: 350px;
    width: 420px;
    border-radius: 50px;
}
.actionpartLeft h3{
    font-size: 42px;
    font-weight: bold;
    padding: 50px 0px;
}
.actionpartLeft p{
    width: 517px;
    color: #252432b9;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}
.actionBtn a{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #4E47FF;
    padding: 15px 35px;
    border-radius: 10px;
    transition: .6s;
}
.actionBtn a:hover{
    color: black;
    background-color: darkorange;
}

/* Action Part End */

/* User Part Css Start */

.userPart{
    padding: 60px 0px;
}
.UserText{
    height: 350px;
    width: 1320px;
    background-color: #c1bffd;
    border-radius: 15px;
}
.userTittle h2{
    width: 800px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    padding: 40px 0px;
    text-align: center;
}
.userInfo{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px;
}
.details1 h2{
    font-size: 80px;
    font-weight: bold;
    color: blue;
}
.details1 p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.822);
}

/* User Part End */